# Виртуальное окружение
.venv/
venv/
env/
ENV/

# Python кэш
__pycache__/
*.py[cod]
*$py.class

# Конфиги IDE
.vscode/
.idea/

# Логи
*.log

# Файлы базы данных SQLite (если вдруг есть)
*.sqlite3

# Файлы окружения
.env
.env.*
